@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rouge+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 300ms ease;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  background: #FFFFFE;
}
html::-webkit-scrollbar-track {
  background: #0D1117;
}

section {
  min-height: 100vh;
  padding: 100px 40px 40px 40px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button, input {
  background: none;
  outline: none;
  border: none;
}

@keyframes zoom_bounce {
  0% {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.login-page {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0D1117;
}
.login-page .login-container {
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}
.login-page .login-container .login-box, .login-page .login-container .signup-box {
  position: absolute;
  inset: 0;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 0 20px 0;
  border-radius: inherit;
  gap: 40px;
  transition: all 500ms ease;
}
.login-page .login-container .login-box .head-title, .login-page .login-container .signup-box .head-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFE;
}
.login-page .login-container .login-box form, .login-page .login-container .signup-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-page .login-container .login-box form .input-box, .login-page .login-container .login-box form .submit, .login-page .login-container .signup-box form .input-box, .login-page .login-container .signup-box form .submit {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background: #0D1117;
  border-radius: 25px;
}
.login-page .login-container .login-box form .input-box i, .login-page .login-container .login-box form .submit i, .login-page .login-container .signup-box form .input-box i, .login-page .login-container .signup-box form .submit i {
  font-size: 26px;
  color: #21262D;
}
.login-page .login-container .login-box form .input-box input, .login-page .login-container .login-box form .submit input, .login-page .login-container .signup-box form .input-box input, .login-page .login-container .signup-box form .submit input {
  width: 250px;
  background: none;
  color: #FFFFFE;
}
.login-page .login-container .login-box form .submit, .login-page .login-container .signup-box form .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFE;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.login-page .login-container .login-box form .fp-password, .login-page .login-container .signup-box form .fp-password {
  text-align: center;
  font-size: 14px;
  color: #FFFFFE;
  opacity: 0.6;
}
.login-page .login-container .login-box form .fp-password:hover, .login-page .login-container .signup-box form .fp-password:hover {
  opacity: 1;
}
.login-page .login-container .login-box {
  z-index: 2;
  background: #21262D;
}
.login-page .login-container .signup-box {
  background: #0D1117;
  z-index: 3;
  translate: 0 420px;
  scale: 0.8;
}
.login-page .login-container.signup-form_active .signup-box {
  background: #21262D;
  translate: 0 0;
  scale: 1;
}
.login-page .login-container .account-confirmation {
  display: flex;
  gap: 5px;
}
.login-page .login-container .account-confirmation h5, .login-page .login-container .account-confirmation button {
  font-size: 16px;
  color: #FFFFFE;
}
.login-page .login-container .account-confirmation button {
  opacity: 0.7;
}
.login-page .login-container .account-confirmation button:hover {
  color: #19EDB1;
  opacity: 1;
}

header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 80px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 100;
}
header .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0D1117;
  width: 200px;
}
header .head-title i {
  font-size: 40px;
}
header .head-title h1 {
  font-size: 32px;
  font-family: "Rouge Script", cursive;
  text-transform: capitalize;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav ul li a {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  color: #0D1117;
}
header .feature ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
header .feature ul li {
  font-size: 24px;
  color: #0D1117;
}
header.sticky .head-title {
  color: #FFFFFE;
}
header.sticky nav ul li a {
  color: #FFFFFE;
}
header.sticky .feature ul li {
  color: #FFFFFE;
}

.home-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.home-section .background-image {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.home-section .background-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #0D1117;
  opacity: 0.5;
  z-index: 1;
}
.home-section .head-title {
  font-size: 100px;
  font-family: "Rouge Script", cursive;
  font-weight: 700;
  text-transform: capitalize;
  color: #0D1117;
}
.home-section .subtitle {
  font-size: 16px;
  color: #21262D;
}
.home-section .discover-btn {
  font-size: 18px;
  color: #0D1117;
  text-transform: capitalize;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #21262D;
  gap: 50px;
}
.gallery-section .head-container {
  text-align: center;
  color: #FFFFFE;
}
.gallery-section .head-container .head-title {
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  font-family: "Rouge Script", cursive;
}
.gallery-section .head-container .subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.gallery-section .body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}
.gallery-section .body-container .gallery-item {
  position: relative;
  width: 100px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease;
}
.gallery-section .body-container .gallery-item.active {
  width: 300px;
  cursor: auto;
}
.gallery-section .body-container .gallery-item.active .like-button, .gallery-section .body-container .gallery-item.active .expand-img {
  display: flex;
  animation: zoom_bounce 1000ms ease;
  scale: 1;
}
.gallery-section .body-container .gallery-item.active .desc-pict {
  opacity: 1;
}
.gallery-section .body-container .gallery-item.active .desc-pict p {
  opacity: 1;
  animation: zoom_bounce 1000ms ease;
  scale: 1;
}
.gallery-section .body-container .gallery-item.expanded .like-button, .gallery-section .body-container .gallery-item.expanded .expand-img, .gallery-section .body-container .gallery-item.expanded .desc-pict {
  opacity: 0;
}
.gallery-section .body-container .gallery-item.expanded .expand-img i::after {
  content: "\f066";
}
.gallery-section .body-container .gallery-item.expanded:hover .like-button {
  pointer-events: none;
}
.gallery-section .body-container .gallery-item.expanded:hover .expand-img {
  opacity: 1;
}
.gallery-section .body-container .gallery-item.expanded:hover .expand-img i {
  color: #FFFFFE;
}
.gallery-section .body-container .gallery-item.expanded:hover .expand-img i::after {
  opacity: 1;
  color: #19EDB1;
}
.gallery-section .body-container .gallery-item img {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.gallery-section .body-container .gallery-item .like-button, .gallery-section .body-container .gallery-item .expand-img {
  position: absolute;
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition-delay: 200ms;
  transition: all 600ms ease;
}
.gallery-section .body-container .gallery-item .like-button i, .gallery-section .body-container .gallery-item .expand-img i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #19EDB1;
  z-index: 1;
  cursor: pointer;
}
.gallery-section .body-container .gallery-item .like-button i::after, .gallery-section .body-container .gallery-item .expand-img i::after {
  position: absolute;
  font-size: 20px;
  transition: all 300ms ease;
}
.gallery-section .body-container .gallery-item .like-button {
  top: 10px;
  right: 10px;
}
.gallery-section .body-container .gallery-item .like-button i::after {
  content: "\f004";
  display: flex;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}
.gallery-section .body-container .gallery-item .like-button i.liked {
  color: #ED1955;
  animation: zoom_bounce 500ms ease;
}
.gallery-section .body-container .gallery-item .like-button i.liked::after {
  opacity: 1;
  color: #ED1955;
}
.gallery-section .body-container .gallery-item .expand-img {
  top: 70px;
  right: 10px;
}
.gallery-section .body-container .gallery-item .expand-img i::after {
  content: "\f065";
  display: flex;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.gallery-section .body-container .gallery-item .desc-pict {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  overflow: hidden;
  transition-delay: 200ms;
  z-index: -1;
}
.gallery-section .body-container .gallery-item .desc-pict p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  scale: 0;
  color: #FFFFFE;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

@media (max-width: 1003px) {
  .gallery-section .body-container {
    flex-direction: column;
  }
  .gallery-section .body-container .gallery-item {
    width: 300px;
    height: 100px;
  }
  .gallery-section .body-container .gallery-item.active {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */