<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <!-- CSS Link -->

    <link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">

    <!-- CDNJS FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>

    <!-- Login Page Start -->

    <section class="login-page">
        <div class="login-container" id="login-container">
            <div class="login-box">
                <h1 class="head-title">login</h1>

                <!-- !--biar tidak ilang ketika di refresh -->
                            <script>
                                window.onload = function()
                                {
                                var a = sessionStorage.getItem('email');
                                    if(a !== null){
                                    //alert(a);
                                    document.getElementById("email").value = a;
                                }
                            }

                        window.onbeforeunload = function() {
                        sessionStorage.setItem("email", $('#email').val());
                        }
                                </script>

                    <!-- --------------------------------------------- -->

                <form action="{{ url_for('login') }}" class="login-form" method="post">
                    <div class="input-box">
                        <i class="fa-solid fa-user"></i>
                        <input type="email" required="" class="input-bar" placeholder="Email" id="email" name="email" key="email">
                        
                    </div>
                    <div class="input-box">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required="" class="input-bar" placeholder="Password" id="password" name="password">
                    </div>
                    <p style="color: red;">{{msg}}
                    <button class="submit">
                        login
                    </button>
                    <a class="fp-password" href="">forgot password?</a>
                </form>



                <div class="account-confirmation">
                    <h5>Don't have an account?</h5>
                    <button onclick="toggleSwitcherForm()">
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="signup-box">
                <h1 class="head-title">signup</h1>

                <form action="{{ url_for('register') }}" class="signup-form" method="post">
                    <div class="input-box">
                        <i class="fa-solid fa-user"></i>
                        <input type="text"  class="input-bar" id="username" placeholder="Username"  name="username" key="username" value="" onkeyup='checkusername();' required>
                    </div>
                        <span id = "messageusername"> </span>


                    <div class="input-box">
                        <i class="fa-solid fa-at"></i>
                        <input type="email"  class="input-bar" id="email" placeholder="Email" name="email" value="" required>

                    </div>
                        <span style="color:red;" id="msgerorregister">{{msgerorregister}} </span>
                        <!-- <script>
                            alert()
                        </script> -->

                    <div class="input-box">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password"  class="input-bar" id="password" placeholder="Password"   name="password" key="password"  value=""  onkeyup='Checkpassword();' required >
                    </div>

                    <span id ="messagepassword"> </span>

                    <!-- <div class="input-box">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password"  class="input-bar" id="newpassword" name="newpassword" placeholder="Confirm Password" key="newpassword" value=""  onkeyup='checkpassword();'   required>
                    </div> -->
                    
                    <button type="submit" class="submit" id="btn1" value="submit" >Sign up</button>
                </form>


                <div class="account-confirmation">
                    <h5>Have an account?</h5>
                    <button onclick="toggleSwitcherForm()">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Login Page End -->
    
</body>

<script src="{{url_for('static', filename='js/index.js')}}"></script>



                            <!--Password Validation Start-->
                            <script>
                                var checkusername = function() {
                                    // var regexusername=/^[0-9a-zA-Z]+$/;

                                    if(!document.getElementById('username').value){
                                        document.getElementById('messageusername').style.color = 'red';
                                        document.getElementById('messageusername').innerHTML = 'Username masih kosong !';
                                    }

                                    // ERRROR
                                    // else if (document.getElementById('username').value==regexusername) {
                                    //     document.getElementById('messageusername').style.color = 'red';
                                    //     document.getElementById('messageusername').innerHTML = 'Username hanya boleh menggunakan angka dan huruf abjad!';
                                    // }

                                    else if(document.getElementById('username').value){
                                        document.getElementById('messageusername').style.color = '';
                                        document.getElementById('messageusername').innerHTML = '';
                                    }
                                }

    
                                var Checkpassword = function() {
                                    if (!document.getElementById('password').value) {
                                        document.getElementById('messagepassword').style.color = 'red';
                                        document.getElementById('messagepassword').innerHTML = 'Password masih kosong !';
                                    }
                                    else if (document.getElementById('password').value.length <8) {
                                        document.getElementById('messagepassword').style.color = 'red';
                                        document.getElementById('messagepassword').innerHTML = 'Password minimal 8 karakter !';
                                    }

                                    // else if (document.getElementById('password').value == document.getElementById('newpassword').value) {
                                    //     document.getElementById('message').style.color = '';
                                    //     document.getElementById('message').innerHTML = '';
                                    // }

                                    // else if(document.getElementById('password').value != document.getElementById('newpassword').value) {
                                    //     document.getElementById('message').style.color = 'red';
                                    //     document.getElementById('message').innerHTML = 'Password belum sama !';
                                    // }
    
                            }
    
    </script>

    <script>
        function disablekotak() {
            // False
                                var usernamekosong= !document.getElementById('username').value;
                                var password=!document.getElementById('password').value ;
                                var password8=document.getElementById('password').value.length <8;
                                var passwordcompare1=document.getElementById('password').value;
                                var passwordcompare2=document.getElementById('newpassword').value;
                                if( usernamekosong && usernameisi){
                                  document.getElementById("btn1").disabled=true;
                                }
                                else if( usernamekosong ){
                                  document.getElementById("btn1").disabled=true;
                                }
                                else if( password){
                                  document.getElementById("btn1").disabled=true;
                                }
                                else if( password8){
                                  document.getElementById("btn1").disabled=true;
                                }
                                else if( passwordcompare1!=passwordcompare2){
                                  document.getElementById("btn1").disabled=true;
                                }
                                else{
                                    document.getElementById("btn1").disabled=false;
                                }
                        }
    </script>
    <!--Password Validation End-->
</html>
